*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:helvetica;
}
/*Plano de fundo*/
.background{
  background-color: #a9927d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}
/*Calculadora*/
.calc{
  background-color: rgba(0, 0, 0, 0.82);
  border-radius:15px;
  width: 400px;
  padding:15px;
  display: flex;
  flex-direction: column;
}
/*Visor*/
#operation{
  text-align: right;
}
#previousOperation,
#currentOperation{
  padding: .2em;
  /*overflow-wrap:break-word; -> Joga os números que estão saindo pra fora da caixa, para baixo
    ex: sem |2222222222222|222
        com |2222222222222|
            |          222|
  */
  overflow-wrap:break-word;
  min-height: 1.6em;
  background-color: rgba(255, 255, 255, 0.685);
}
#previousOperation{
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: rgb(88, 88, 88);
}
#currentOperation{
  font-size: 2em;
  font-weight: 700;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 8px;
}
/*Botões*/
#buttons-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
}
button{
  height:4em;
  font-size:1.2em;
  cursor: pointer;
  background-color: #22333b;
  border: 1px solid transparent;
  color: #9babab;
  border-radius: 5px;
}
button:hover{
  border-color: rgb(80, 80, 80);
}
.number{
  background-color: #0a0908;
  color: #6d7272;
}
#equal-btn{
  grid-column: span 2;
}